.content{
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 200px;
    text-decoration: none;
}