.NavBar {
    display: flex;
    justify-content: space-between; /* This will space out the ul and CartWidget */
    align-items: center;
    background-color: white;
    padding: 1rem 2rem;
    font-family: Roboto;
    color: black;
}

.NavBar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.NavBar li {
    cursor: pointer;
    color: black;
}

.NavBar a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: color 0.3s ease;
}

.NavBar a:hover {
    color: rgb(249, 7, 7); 
    font-size: 17px;
    transition: all .5s ease;
}
