.ComicDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffa8a8; 
}
.ComicDetail h1 {
    color: black;
    margin-bottom: 15px;
    font-family: Roboto;
}
.ComicDetail p {
    color: black;
    max-width: 800px;
    text-align: justify;
    font-family: Roboto;
    margin-top: 20px;
}
.ComicDetail img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}
.ComicDetail button{
    font-size: 35px;
    color: black;
    background-color: white;
    border-radius: 10px;
}
.precio{
    font-family: Roboto;
    list-style: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    
}